<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>留言本</title>
	<link rel="stylesheet" href="./css/bootstrap.min.css">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="jumbotron">
		  	<h1 class="text-center">LiZn</h1>
		</div>
		<form>
		  	<div class="form-group">
			    <label for="exampleInputEmail1">姓名</label>
			    <input type="text" class="form-control" id="xingming"  placeholder="姓名">
		  	</div>
		  	<div class="form-group">
			    <label for="exampleInputPassword1">遗言</label>
			    <textarea class="form-control" id="yiyan" rows="3"></textarea>
		  	</div>
		  	<button type="button" id="tijiao" class="btn btn-success btn-lg btn-block">提交</button>
		</form>		
		<div class="alert alert-success" style="display:none" id="jinggao" role="alert">提交成功</div>
		<div class="alert alert-danger" style="display:none" id="shibai" role="alert">提交失败</div>
	</div>
	<div class="container">
		<div class="list" style="margin-top:50px"></div>
		<div id="pages"></div>
	</div>
	<script type="text/template" id="moban">
		<div class="list-group">
		  	<a href="javascript:void(0)" class="list-group-item active">
			    <h4 class="list-group-item-heading">【姓名】{{= xingming }}</h4>
			    <p class="list-group-item-text">【遗言】{{= yiyan }}</p>
			    <p class="list-group-item-text">【时间】{{= shijian }}</p>
			    <p class="list-group-item-text delete" data-id="{{= dataId}}" style="color: #fff" >删除</p>
		  	</a>
		</div>
	</script>
	<script src="https://cdn.bootcss.com/jquery/1.12.2/jquery.js"></script>
	<script src="https://cdn.bootcss.com/twbs-pagination/1.4.0/jquery.twbsPagination.min.js"></script>
	<script src="./js/underscore.js"></script>
	<script>
		var objData = {
			num:null,//页码总数
		} ;
		$(".list").delegate(".delete","click",function(){
			var _id = $(this).data("id");
			$.ajax({
				url:"/delete",
				method:"POST",
				data:{
					dataId:_id
				},
				success:(res)=>{
					if(res.status){
						initEvent();
					}else{
						alert('删除失败')
					}
				}
			})
		});
		function pages(num){
			var pages = null;
		    $('#pages').twbsPagination({
		    	visiblePages:4,//默认可见页数
			  	totalPages: num,//总页数
			  	startPage: 1,//起始页
			  	viewsisiblePages: 10,//展示页数，超出5页展示5页，未超出时展示总页数
			  	initiateStartPageClick: true,
			  	hideOnlyOnePage: true,//只有一页时不展示分页
		        onPageClick: function (event, page) {//点击页面事件，回调函数，只能使用ajax异步加载，
		        	pages = page;
		        }
		    });	
		     pageNum(pages)		
		};
		initEvent();
		function initEvent(){
		    $.ajax({
		    	url:"/count",
		    	method:"POST",
		    	success:(res)=>{
		    		pages(Math.ceil(res.request/6));
		    	}
		    })			
		};
		$("#tijiao").click(function(){
			$("#jinggao,#shibai").fadeOut()
			$.ajax({
				url:"/tijiao",
				method:"POST",
				async:true,
				data:{
					name:$("#xingming").val(),
					yiyan:$("#yiyan").val()
				},
				success:function(res){
					if(res.status){
						$("#jinggao").fadeIn()
						//优化，显示新添加的
						var complited = _.template($("#moban").html());
						var html = complited({"xingming":$("#xingming").val(),"yiyan":$("#yiyan").val(),"shijian":new Date()});
						$(html).insertBefore($(".list-group"))
					}else{
						$("#shibai").fadeIn()
					}
				}
			})		
		});
		function pageNum(num){
			$.ajax({
				url:"/du",
				method:"POST",
				data:{
					page:num
				},
				success:function(res){
					$(".list-group").remove()
					var json = res.request;
					var complited = _.template($("#moban").html());
					for(var i=0;i<json.length;i++){
						var html = complited({"xingming":json[i].name,"yiyan":json[i].text,"shijian":json[i].shijian,"dataId":json[i]._id});
						$(".list").append($(html))
					}			
				}
			});			
		}


	</script>
</body>
</html>